html, body{
	width: 98%;
	height: 98%;
			
	background-color: orange;
			
	font-family: Arial;
	font-size: 12pt;
}
	
#form{
	width: 700px;
	height: 700px;
		
	border: 2px solid white;
	background-color: #BFBFBF;
		
	padding: 10px;
}
		
#h1_red{
	color: red;
}
		
#h1_green{
	color: green;
}